[package]
name = "rattler-server"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.69"
async-compression = { version = "0.3.15", features = ["tokio", "bzip2", "zstd"] }
axum = { version = "0.6.6", features = ["json"] }
clap = { version = "4.1.8", features = ["derive", "env"] }
dashmap = "5.4.0"
futures = "0.3.26"
rattler_conda_types = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_repodata_gateway = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_solve = { git = "https://github.com/mamba-org/rattler", branch = "main" }
reqwest = "0.11.14"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.68"
thiserror = "1.0.39"
tokio = { version = "1.25.0", features = ["full"] }
tokio-util = { version = "0.7.7", features = ["io"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
tracing-tree = "0.2.2"

[dev-dependencies]
hyper = "0.14.24"
mime = "0.3.16"
mock_instant = "0.2.1"
mockito = "0.32.4"
rstest = "0.16.0"
serde_json = "1.0.68"
tower = "0.4.13"
